h1 {
    font-size: 350%;
    color: white;
}
body {
    color: white;
}
ul.navigasjon {
    list-style-type: none;
    padding: 0;
    display: flex;
}
li.nav-knapp {
    display: flex;
    width: 10vw;
    height: 5vw;
    border: solid white 1px;
    border-radius: 5px;
    margin-right: 1vw;
    justify-content: center;
    align-items: center;
}
ul a {
    text-decoration: none;
}
a:hover .nav-knapp {
    background-color: darkslategrey;
}
a:visited .nav-knapp {
    color: white;
}
