
{% extends "base.html" %}


{ Custom CSS for this very page is inserted here, Uncomment block to activate.}
{% block styles %}
{{super()}}
<style>
  #innpakning {
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff00;
    border: solid 1px white;
  }
  #tegneflate {
    width: 100%;
    height: 100%;
  }

</style>

{% endblock %}

{% block content %}

  <div id="innpakning">
    <svg id="tegneflate">
        <line x1="0" y1="0" x2="500" y2="200" style="stroke:rgb(255,0,0);stroke-width:2;">
    </svg>
    
  </div>
{% endblock %}