<div>
    <ul class="navigasjon">
        <a href="{{ url_for('home') }}">
            <li class="nav-knapp">Hjem</li>
        </a>
        <a href="{{ url_for('about') }}">
            <li class="nav-knapp">Om oss</li>
        </a>
        <a href="{{ url_for('add_user') }}">
            <li class="nav-knapp">Ny bruker</li>
        </a>
        <a href="{{ url_for('login') }}">
            <li class="nav-knapp">Log in</li>
        </a>
        <a href="{{ url_for('alle_innlogginger') }}">
            <li class="nav-knapp">Logg</li>
        </a>
        <a href="{{ url_for('alle_brukere') }}">
            <li class="nav-knapp">Brukere</li>
        </a>
        <a href="{{ url_for('alle_posts') }}">
            <li class="nav-knapp">Posts</li>
        </a>
        <a href="{{ url_for('add_post') }}">
            <li class="nav-knapp">Legg til Post</li>
        </a>
        {% if session["current_user"] %}
            <a href="{{ url_for('logout') }}">
                <li class="nav-knapp">Logg ut</li>
            </a>
        {% endif %}
        <a href="#">
            <li class="nav-knapp" id="counter"></li>
        </a>
    </ul>
</div>
